#highlights-main-div {
  padding: 30px;
  background-color: #8d4996
}
#highlights-main {
  max-width: 980px;
  margin: auto;
}
#highlights-date {
  color: white;
  margin-bottom: 10px;
}
#highlights-verse {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
#highlights-verse img {
  margin: 10px;
}
#highlights-verse-heading {
  font-size: 22px;
  margin: 10px;
}
#highlights-content {
  display: flex;
  justify-content: center;
}
#highlights-verse-content {
  margin-bottom: 10px;
}