#contact-div {
  background-color: #f9ae41;
  padding: 30px 0;
}
#contact-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}
.contact-content {
  font-size: 16px;
}
#message-title {
  font-size: 20px;
  margin: 20px 0 10px 0;
  font-weight: bold;
}
#contact-split2-div {
  background-color: #ffffff;
  border-radius: 0 170px 170px 0;
  box-shadow: 0 0  15px rgba(0, 0, 0, 0.5);
  width: calc(50% + 490px);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-width: 980px;
}
#contact-split2 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 980px;
}
#contact-left {
  border-right: 1px solid #000000;
  padding: 30px 40px 90px 30px;
  position: relative;
}
#contact-right {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact-right a {
  color: #000000;
  font-size: 20px;
}
#contact-submit {
  background: none;
  border: 0;
  border-bottom: 2px solid #50b4a8;
  position: absolute;
  right: 0;
  margin-top: 20px;
  padding: 10px 150px 10px 10px;
  letter-spacing: 2px;
}
#contact-submit:hover {
  background-color: #50b4a8;
  color: #ffffff;
  cursor: pointer;
}

.contact-right-link {
  text-align: center;
}
.contact-right-link img {
  margin-bottom: 5px;
}
