#registration-div {
  padding: 30px 0;
  background-color: #d0d0d0;
}

#registration-div {
  padding: 30px 0;
}
#registration-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}
.registration-content {
  font-size: 16px;
}
#message-title {
  font-size: 20px;
  margin: 20px 0 10px 0;
  font-weight: bold;
}
#registration-split2-div {
  display: flex;
  flex-direction: row;
}
#registration-split2 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 980px;
}
#registration-left {
  padding: 30px 40px 70px 30px;
}
#registration-right {
  padding: 30px 40px 70px 30px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  position: relative;
}
#registration-right a {
  color: #000000;
  font-size: 20px;
}
#registration-submit {
  background: none;
  border: 0;
  border-bottom: 2px solid #50b4a8;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-top: 20px;
  padding: 10px 250px 10px 10px;
  letter-spacing: 2px;
}
#registration-submit:hover {
  background-color: #50b4a8;
  color: #ffffff;
  cursor: pointer;
}
#registration-text {
  padding: 10px 30px 0 30px;
}
input {
  width: 230px;
}
.radio-group {
  display: flex;
  flex-direction: row;
}
.radio {
  position: relative;
  height: 40px;
}
.radio div {
  position: absolute;
  top: 13px;
  left: 18px;
  user-select: none;
  z-index: 0;
}
.radio input {
  position: absolute;
  z-index: 1;
}
input[type=radio] {
  border: 0;
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  width: 30px;
  height: 30px;
  outline: 0;
  cursor: pointer;
  top: 6px;
  left: 8px;
}
input[type=radio]:checked {
  border: 2px solid #86acab;
  border-radius: 50%;
  appearance: checkbox;
}

.form-two {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  font-size: 22px;
}
.form-two > div:first-child {
  width: 80px;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.form-two > div:nth-child(2) {
  width: 100px;
}
.form-two > div:nth-child(2) > * {
  width: 80%;
  border-radius: 7px;
  font-size: 22px;
  outline: 0;
  border: 0;
}

#slash {
  font-size: 22px;
  position: absolute;
  top: 13px;
  left: 45px;
}
#phone-number {
  margin-top: 45px;
}