#about-1-div {
  background-color: #3dbdb4;
  padding: 30px;
}
#founders-heading {
  font-size: 24px;
}
#founders-heading1 {
  font-size: 24px;
  margin: 70px 50px 0 50px;
}
.founders-heading-name {
  font-size: 18px;
  margin-top: 10px;
}
#founders {
  text-align: center;
  max-width: 980px;
  overflow: hidden;
}
#founders-quote-open, #founders-quote-close {
  margin: 20px;
}
#founders-selection {
  padding: 0 50px;
}
.founder-img {
  display: inline-block !important;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.slick-prev:before {
  color: #000000 !important;
  font-size: 25px !important;
  padding: 20px;
}
.slick-next:before {
  color: #000000 !important;
  font-size: 25px !important;
  padding: 20px;
}
.slick-next {
  right: 30px  !important;
}
.slick-prev {
  left: -20px;
}
.slick-center {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.slick-slider .slick-list {
  height: auto;
  padding: 100px 100px !important;
}
