#home-service-group-div {
  background-color: #3dbdb4;
  padding: 50px 20px 50px 20px;
  overflow: hidden;
}

#home-service-group {
  width: 980px;
  overflow: hidden;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #FFFFFF;
}
#home-service-group > * {
  padding: 0 15px;
  text-align: center;  
}
.home-service-group-title {
  font-size: 22px;
  margin: 10px 0;
}
#main-banner {
  width: 100%;
  display: block;
}
#main-banner-div {
  position: relative;
}
#main-banner-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  box-shadow: inset 0 7px 10px -7px rgba(0,0,0,0.5);
}