* {
  font-family: Arial;
  font-size: 16px;
  line-height: 18px;
  box-sizing: border-box;
}
html, body {
  min-width: 980px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
img {
  display: inline-block;
  max-width: 100%;
}
#header-box {
  box-shadow: 0 3px 10px 0 rgba(0,0,0,0.3);
}
#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 980px;
  height: 72px;
  margin: auto;
  padding: 10px 0;
}
#header > div {
  display: flex;
  flex-direction: row;
}
#header-menu a {
  display: block;
  padding: 10px 10px 5px 10px;
  cursor: pointer;
  color: #4D4D4D;
}
#header > a:hover {
  color: #999999;
}
#header-menu > div {
  text-align: center;
}
#header-logo {
  width: 247px;
  height: 41px;
  display: block;
}
#header-logo-a {
  display: flex;
  align-items: center;
}

#footer {
  width: 980px;
  margin: auto;
  padding: 25px 10px 20px 10px;
  clear: both;
}
#footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #8d4996;
}
#footer-content a {
  color: #8d4996;
}
#footer-logo {
  width: 230px;
  height: 41px;
}
#footer-content img {
  vertical-align: middle;
}
#footer-social a {
  margin-left: 20px;
}

#services-details-box {
  background: url(/img/service-bg.jpg) no-repeat center center fixed; 
  background-size: cover;
  background-color: #098aa3;
  box-shadow: 0 -3px 10px 0 rgba(0,0,0,0.3), 0 3px 10px 0 rgba(0,0,0,0.3);
}
#services-details {
  width: 980px;
  margin: auto;
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 40px 0 40px 0;
}
#service-details-text {
  color: #3c3c3b;
  padding: 25px 30px 25px 50px;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  margin: 15px 0 15px 0;
  flex-grow: 1;
}
.service-details-title {
  font-weight: bold;
}

.content {
  max-width: 980px;
  margin: auto;
}

.horizontal-line {
  background-color: #8d4996;
  height: 5px;
  margin-bottom: 30px;
}

h1 {
  font-weight: normal;
  margin-top: 0;
  line-height: 1em;
}

#map {
  width: 52%;
  box-shadow: 3px 3px 10px 0 #888;
}

.top-shadow-in {
  box-shadow: inset 0 7px 10px -7px rgba(0,0,0,0.5);
}

.img-circle {
  border-radius: 50%;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
}

.form-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  font-size: 22px;
}
.form-row > div:first-child {
  width: 80px;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.form-row > div:nth-child(2) {
  flex-grow: 1;
}
.form-row > div:nth-child(2) > * {
  width: 80%;
  border-radius: 7px;
  font-size: 22px;
  background-color: #ebebeb;
  outline: 0;
  border: 0;
  padding: 5px 10px;
}

textarea {
  font-size: 22px;
  width: 100%;
  background-color: #ebebeb;
  border-radius: 7px;
  outline: 0;
  border: 0;
  padding: 5px 10px;
}

