#connect-list {
  padding: 0 60px;
}
#connect-1-div {
  background-color: #ffffff;
  padding: 30px;
}
#connect-1-a {
  max-width: 980px;
  overflow: hidden;
}
.slick-prev:before {
  color: #000000 !important;
  font-size: 25px !important;
  padding: 20px;
}
.slick-next:before {
  color: #000000 !important;
  font-size: 25px !important;
  padding: 20px;
}
.slick-next {
  right: 25px !important;
}
.slick-prev {
  left: -20px !important;
}
a {
  color: #000000;
}
.connect-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}
.connect-content {
  margin-bottom: 40px;
}
.divide-2 {
  display: flex;
  flex-direction: row;
}
.divide-right {
}
.divide-left {
  width: 50%;
  padding-right: 20px;
}

