#events-1-div {
  background-color: #40bcb4;
  padding: 30px;
}
#events-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#events-1 > div {
  width: 50%;
}
#events-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}
#events-list > div {
  width: 222px;
  margin-bottom: 20px;
}
